
.box-1{
    background-color: darkblue;
    color: white;
    padding: 20px;
    border: 20px solid red;
    margin: 20px;
    position: sticky;
    top: 0;
}
.box-2{
    background-color: blueviolet;
    color: white;
    padding: 20px;
    border: 2px solid red;
    margin: 10px;
    /* position: relative; */
    position: fixed;
    top: 200px;
    right: 0px;
    left: 20px;
}

.something{
    border: 2px solid tomato;
    padding: 20px;
    background-color: whitesmoke;
    line-height: 5;
}